<div id="<%= dom_id transaccion_flotante %>">
  <p>
    <strong>Cuenta:</strong>
    <%= transaccion_flotante.cuenta.name %>
  </p>

  <p>
    <strong>Descipcion:</strong>
    <%= transaccion_flotante.descripcion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= transaccion_flotante.estado %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= transaccion_flotante.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= transaccion_flotante.monto %>
  </p>


  <p>
    <strong>Tipo:</strong>
    <%= transaccion_flotante.tipo %>
  </p>

</div>
