<div id="<%= dom_id transaccion %>">
  <p>
    <strong>Cuenta:</strong>
    <%= transaccion.cuenta_id %>
  </p>

  <p>
    <strong>Saldo Anterior:</strong>
    <%= transaccion.saldo_anterior %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= transaccion.monto %>
  </p>

  <p>
    <strong>Saldo Actual:</strong>
    <%= transaccion.saldo_actual %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= transaccion.tipo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= transaccion.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= transaccion.fecha %>
  </p>

</div>
