<div id="<%= dom_id transaccion %>">
  <p>
    <strong>Cuenta:</strong>
    <%= transaccion.cuenta.name %>
  </p>


  <p>
    <strong>Monto:</strong>
    <%= transaccion.monto %>
  </p>


  <p>
    <strong>Tipo:</strong>
    <%= transaccion.tipo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= transaccion.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= transaccion.fecha %>
  </p>

</div>
