<%= form_with(model: movimiento) do |form| %>
  <% if movimiento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
        <% movimiento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transaccion_id, style: "display: block" %>
    <%= form.text_field :transaccion_id %>
  </div>

  <div>
    <%= form.label :cuenta_id, style: "display: block" %>
    <%= form.text_field :cuenta_id %>
  </div>

  <div>
    <%= form.label :monto_flotante, style: "display: block" %>
    <%= form.text_field :monto_flotante %>
  </div>

  <div>
    <%= form.label :monto, style: "display: block" %>
    <%= form.text_field :monto %>
  </div>

  <div>
    <%= form.label :saldo_anterior, style: "display: block" %>
    <%= form.text_field :saldo_anterior %>
  </div>

  <div>
    <%= form.label :saldo_actual, style: "display: block" %>
    <%= form.text_field :saldo_actual %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
