<div id="<%= dom_id movimiento %>">
  <p>
    <strong>Transaccion:</strong>
    <%= movimiento.transaccion_id %>
  </p>

  <p>
    <strong>Cuenta:</strong>
    <%= movimiento.cuenta_id %>
  </p>

  <p>
    <strong>Monto flotante:</strong>
    <%= movimiento.monto_flotante %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= movimiento.monto %>
  </p>

  <p>
    <strong>Saldo anterior:</strong>
    <%= movimiento.saldo_anterior %>
  </p>

  <p>
    <strong>Saldo actual:</strong>
    <%= movimiento.saldo_actual %>
  </p>

</div>
