<div id="<%= dom_id cuenta %>">
  <p>
    <strong>Numero:</strong>
    <%= cuenta.numero %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cuenta.nombre %>
  </p>

  <p>
    <strong>Saldo Flotante:</strong>
    <%= cuenta.movimientos.sum(:monto_flotante) %>
  </p>


  <p>
    <strong>Saldo:</strong>
    <%= cuenta.movimientos.sum(:monto) %>
  </p>
<!-- 
  <div>

    <p>
      <strong>Saldo:</strong>
      <%= cuenta.balance.saldo %>
    </p>
  
  </div>
   -->

</div>
