<div id="<%= dom_id cuenta %>">
  <p>
    <strong>Numero:</strong>
    <%= cuenta.numero %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cuenta.nombre %>
  </p>

  <!-- <p>
    <strong>Disponible:</strong>
    <%= cuenta.disponible %>
  </p> -->

  <div>

    <p>
      <strong>Saldo:</strong>
      <%= cuenta.balance.saldo %>
    </p>
  
  </div>
  

</div>
