<p style="color: green"><%= notice %></p>

<%= render @cuenta %>

<div id="transacciones">

  <table class="table table-striped">
    <thead>
      <tr> 
          <th>ID</th>
          <th>Tipo</th>
          <th>Descripcion</th>
          <th>Saldo Anterior</th>
          <th>Monto</th>
          <th>Saldo Actual</th>
          <th>Fecha</th>
          <th>Error</th>
          <th>Ver</th>
      </tr>
    </thead>
    <tbody>
      <% @cuenta.transacciones.order(:saldo_anterior).each do | transaccion| %>
        <tr>
          <td><%= transaccion.id %></td>
          <td><%= transaccion.tipo %></td>
          <td><%= transaccion.descripcion %></td>
          <td><%= transaccion.saldo_anterior %></td>
          <td><%= transaccion.monto %></td>
          <td><%= transaccion.saldo_actual %></td>
          <td><%= transaccion.fecha %></td>
          <td><%= transaccion.estado %>
          
          </td>
          <td><%= link_to "Show this transaccion", transaccion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div id="transacciones">

  <table class="table table-striped">
    <thead>
      <tr> 
          <th>ID</th>
          <th>Tipo</th>
          <th>Descripcion</th>
          <th>Saldo Anterior</th>
          <th>Monto</th>
          <th>Saldo Actual</th>
          <th>Fecha</th>
          <th>Error</th>
          <th>Ver</th>
      </tr>
    </thead>
    <tbody>
      <% @cuenta.transaccion_flotantes.order(:saldo_anterior).each do | transaccion| %>
        <tr>
          <td><%= transaccion.id %></td>
          <td><%= transaccion.tipo %></td>
          <td><%= transaccion.descripcion %></td>
          <td><%= transaccion.saldo_anterior %></td>
          <td><%= transaccion.monto %></td>
          <td><%= transaccion.saldo_actual %></td>
          <td><%= transaccion.fecha %></td>
          <td><%= transaccion.estado %>
          
          </td>
          <td><%= link_to "Show this transaccion", transaccion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div>
  <%= link_to "Edit this cuenta", edit_cuenta_path(@cuenta) %> |
  <%= link_to "Back to cuentas", cuentas_path %>

  <%= button_to "Destroy this cuenta", @cuenta, method: :delete %>
</div>
